body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
  }
  
  .app-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Adjusted max-width to align with the design */
    margin: 50px auto;
    width: 70%;
    position: relative;
    background: linear-gradient(to bottom right, #e0eafc, #cfdef3);
  }
  
  .illustration-section {
    flex: 1.5; /* Adjusted flex to give more space to the illustration */
    text-align: center;
  }
  
  .main-image {
    max-width: 80%;
    border-radius: 10%;
    height: auto;
  }
  
  .main-text {
    font-size: 1.2em;
    margin-top: 20px;
    color: #495df6;
    font-weight: bold;
  }
  
  .sub-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .form-section {
    flex: 1; /* Adjusted flex to reduce the form section width slightly */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .input-field {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    background-color: #f9faff;
  }
  
  .red-asterisk {
    color: red;
    margin-left: 5px;
  }
  
  .submit-button {
    
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4f7df9;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 20%;
    border-radius: 5%;
    width: 60%;
    
  }
  
  .submit-button:hover {
    background-color: #4169e1;
  }
  
  
  h1, h2 {
    color: #333;
    font-weight: bold;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 2px;
  }
  
  h2 {
    font-size: 1.0em;
    margin-bottom:15px;
  }
  
  p {
    color: #666;
  }
  
  /* Logo Styling */
  .logo {
    position: absolute;
    top: 20px; /* Adjust the top position to align vertically */
    left: 20px; /* Adjust the left position to align horizontally */
    width: 110px; /* Set a fixed width for the logo */
    height: auto;
  }
  